.blackhawks.logo-medium, .chi.logo-medium{
    background-image: url("../../img/blackhawks50x50.png");
}
.bruins.logo-medium, .bos.logo-medium{
    background-image: url("../../img/bruins50x50.png");
}
.flames.logo-medium, .cgy.logo-medium{
    background-image: url("../../img/flames50x50.png");
}
.canadiens.logo-medium, .mtl.logo-medium{
    background-image: url("../../img/canadiens50x50.png");
}
.capitals.logo-medium, .wsh.logo-medium{
    background-image: url("../../img/capitals50x50.png");
}
.avalanche.logo-medium, .col.logo-medium{
    background-image: url("../../img/avalanche50x50.png");
}
.columbus.logo-medium, .cbj.logo-medium{
    background-image: url("../../img/columbus50x50.png");
}
.coyotes.logo-medium, .ari.logo-medium{
    background-image: url("../../img/coyotes50x50.png");
}
.stars.logo-medium, .dal.logo-medium{
    background-image: url("../../img/stars50x50.png");
}
.wings.logo-medium, .det.logo-medium{
    background-image: url("../../img/redwings50x50.png");
}
.devils.logo-medium, .njd.logo-medium{
    background-image: url("../../img/devils50x50.png");
}
.ducks.logo-medium, .ana.logo-medium{
    background-image: url("../../img/ducks50x50.png");
}
.panthers.logo-medium, .fla.logo-medium{
    background-image: url("../../img/panthers50x50.png");
}
.hurricanes.logo-medium, .car.logo-medium{
    background-image: url("../../img/hurricanes50x50.png");
}
.islanders.logo-medium, .nyi.logo-medium{
    background-image: url("../../img/islanders50x50.png");
}
.kings.logo-medium, .lak.logo-medium{
    background-image: url("../../img/kings50x50.png");
}
.blues.logo-medium, .stl.logo-medium{
    background-image: url("../../img/blues50x50.png");
}
.predators.logo-medium, .nsh.logo-medium{
    background-image: url("../../img/predators50x50.png");
}
.oilers.logo-medium, .edm.logo-medium{
    background-image: url("../../img/oilers50x50.png");
}
.senators.logo-medium, .ott.logo-medium{
    background-image: url("../../img/senators50x50.png");
}
.penguins.logo-medium, .pit.logo-medium{
    background-image: url("../../img/penguins50x50.png");
}
.flyers.logo-medium, .phi.logo-medium{
    background-image: url("../../img/flyers50x50.png");
}
.rangers.logo-medium, .nyr.logo-medium{
    background-image: url("../../img/rangers50x50.png");
}
.sabres.logo-medium, .buf.logo-medium{
    background-image: url("../../img/sabres50x50.png");
}
.sharks.logo-medium, .sjs.logo-medium{
    background-image: url("../../img/sharks50x50.png");
}
.lightning.logo-medium, .tbl.logo-medium{
    background-image: url("../../img/lightning50x50.png");
}
.toronto.logo-medium, .tor.logo-medium{
    background-image: url("../../img/toronto50x50.png");
}
.vancouver.logo-medium, .van.logo-medium{
    background-image: url("../../img/canucks50x50.png");
}
.wild.logo-medium, .min.logo-medium{
    background-image: url("../../img/wilds50x50.png");
}
.jets.logo-medium, .wpg.logo-medium{
    background-image: url("../../img/jets50x50.png");
}