.blackhawks{
    background-image: url("../img/bhawks.png");
}
.bruins{
    background-image: url("../img/bruins.png");
}
.flames{
    background-image: url("../img/flames.png");
}
.canadiens{
    background-image: url("../img/canadiens.png");
}
.capitals{
    background-image: url("../img/capitals.png");
}
.avalanche{
    background-image: url("../img/avalanche.png");
}
.columbus{
    background-image: url("../img/columbus.png");
}
.coyotes{
    background-image: url("../img/coyotes.png");
}
.stars{
    background-image: url("../img/stars.png");
}
.detroit{
    background-image: url("../img/detroit.png");
}
.devils{
    background-image: url("../img/devils.png");
}
.ducks{
    background-image: url("../img/ducks.png");
}
.panthers{
    background-image: url("../img/panthers.png");
}
.hurricanes{
    background-image: url("../img/hurricanes.png");
}
.islanders{
    background-image: url("../img/islanders.png");
}
.kings{
    background-image: url("../img/kings.png");
}
.blues{
    background-image: url("../img/blues.png");
}
.predators{
    background-image: url("../img/predators.png");
}
.oilers{
    background-image: url("../img/oilers.png");
}
.senators{
    background-image: url("../img/senators.png");
}
.penguins{
    background-image: url("../img/penguins.png");
}
.flyers{
    background-image: url("../img/flyers.png");
}
.rangers{
    background-image: url("../img/rangers.png");
}
.sabres{
    background-image: url("../img/sabres.png");
}
.sharks{
    background-image: url("../img/sharks.png");
}
.tampa{
    background-image: url("../img/tampa.png");
}
.toronto{
    background-image: url("../img/toronto.png");
}
.vancouver{
    background-image: url("../img/vancouver.png");
}
.wilds{
    background-image: url("../img/wilds.png");
}
.jets{
    background-image: url("../img/jets.png");
}