.blackhawks.logo-small, .chi.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -30px;
    background-size: 30px 930px!important;
}
.bruins.logo-small, .bos.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -450px;
    background-size: 30px 930px!important;
}
.flames.logo-small, .cgy.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -60px;
    background-size: 30px 930px!important;
}
.canadiens.logo-small, .mtl.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -90px;
    background-size: 30px 930px!important;
}
.capitals.logo-small, .wsh.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -120px;
    background-size: 30px 930px!important;
}
.avalanche.logo-small, .col.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -150px;
    background-size: 30px 930px!important;
}
.columbus.logo-small, .cbj.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -180px;
    background-size: 30px 930px!important;
}
.coyotes.logo-small, .ari.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -210px;
    background-size: 30px 930px!important;
}
.stars.logo-small, .dal.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -240px;
    background-size: 30px 930px!important;
}
.wings.logo-small, .det.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -270px;
    background-size: 30px 930px!important;
}
.devils.logo-small, .njd.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -300px;
    background-size: 30px 930px!important;
}
.ducks.logo-small, .ana.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -330px;
    background-size: 30px 930px!important;
}
.panthers.logo-small, .fla.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -360px;
    background-size: 30px 930px!important;
}
.hurricanes.logo-small, .car.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -390px;
    background-size: 30px 930px!important;
}
.islanders.logo-small, .nyi.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -420px;
    background-size: 30px 930px!important;
}
.kings.logo-small, .lak.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -0px;
    background-size: 30px 930px!important;
}
.blues.logo-small, .stl.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -480px;
    background-size: 30px 930px!important;
}
.predators.logo-small, .nsh.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -510px;
    background-size: 30px 930px!important;
}
.oilers.logo-small, .edm.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -540px;
    background-size: 30px 930px!important;
}
.senators.logo-small, .ott.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -570px;
    background-size: 30px 930px!important;
}
.penguins.logo-small, .pit.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -600px;
    background-size: 30px 930px!important;
}
.flyers.logo-small, .phi.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -630px;
    background-size: 30px 930px!important;
}
.rangers.logo-small, .nyr.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -660px;
    background-size: 30px 930px!important;
}
.sabres.logo-small, .buf.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -690px;
    background-size: 30px 930px!important;
}
.sharks.logo-small, .sjs.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -720px;
    background-size: 30px 930px!important;
}
.lightning.logo-small, .tbl.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -750px;
    background-size: 30px 930px!important;
}
.toronto.logo-small, .tor.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -780px;
    background-size: 30px 930px!important;
}
.vancouver.logo-small, .van.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -810px;
    background-size: 30px 930px!important;
}
.wild.logo-small, .min.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -840px;
    background-size: 30px 930px!important;
}

.vegas.logo-small, .vgk.min.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -870px;
    background-size: 30px 930px!important;
}

.jets.logo-small, .wpg.logo-small{
    background-image: url("../image/sprite-small.png");
    background-position: -0px -900px;
    background-size: 30px 930px!important;
}