.blackhawks.logo-large, .chi.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -100px;
    background-size: 100px 3100px!important;
}
.bruins.logo-large, .bos.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1500px;
    background-size: 100px 3100px!important;
}
.flames.logo-large, .cgy.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -200px;
    background-size: 100px 3100px!important;
}
.canadiens.logo-large, .mtl.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -300px;
    background-size: 100px 3100px!important;
}
.capitals.logo-large, .wsh.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -400px;
    background-size: 100px 3100px!important;
}
.avalanche.logo-large, .col.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -500px;
    background-size: 100px 3100px!important;
}
.columbus.logo-large, .cbj.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -600px;
    background-size: 100px 3100px!important;
}
.coyotes.logo-large, .ari.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -700px;
    background-size: 100px 3100px!important;
}
.stars.logo-large, .dal.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -800px;
    background-size: 100px 3100px!important;
}
.wings.logo-large, .det.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -900px;
    background-size: 100px 3100px!important;
}
.devils.logo-large, .njd.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1000px;
    background-size: 100px 3100px!important;
}
.ducks.logo-large, .ana.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1100px;
    background-size: 100px 3100px!important;
}
.panthers.logo-large, .fla.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1200px;
    background-size: 100px 3100px!important;
}
.hurricanes.logo-large, .car.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1300px;
    background-size: 100px 3100px!important;
}
.islanders.logo-large, .nyi.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1400px;
    background-size: 100px 3100px!important;
}
.kings.logo-large, .lak.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -0px;
    background-size: 100px 3100px!important;
}
.blues.logo-large, .stl.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1600px;
    background-size: 100px 3100px!important;
}
.predators.logo-large, .nsh.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1700px;
    background-size: 100px 3100px!important;
}
.oilers.logo-large, .edm.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1800px;
    background-size: 100px 3100px!important;
}
.senators.logo-large, .ott.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -1900px;
    background-size: 100px 3100px!important;
}
.penguins.logo-large, .pit.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2000px;
    background-size: 100px 3100px!important;
}
.flyers.logo-large, .phi.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2100px;
    background-size: 100px 3100px!important;
}
.rangers.logo-large, .nyr.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2200px;
    background-size: 100px 3100px!important;
}
.sabres.logo-large, .buf.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2300px;
    background-size: 100px 3100px!important;
}
.sharks.logo-large, .sjs.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2400px;
    background-size: 100px 3100px!important;
}
.lightning.logo-large, .tbl.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2500px;
    background-size: 100px 3100px!important;
}
.toronto.logo-large, .tor.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2600px;
    background-size: 100px 3100px!important;
}
.vancouver.logo-large, .van.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2700px;
    background-size: 100px 3100px!important;
}
.wild.logo-large, .min.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2800px;
    background-size: 100px 3100px!important;
}
.jets.logo-large, .wpg.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -2900px;
    background-size: 100px 3100px!important;
}
.vegas.logo-large, .veg.min.logo-large{
    background-image: url("../image/sprite-large.png");
    background-position: -0px -3000px;
    background-size: 100px 3100px!important;
}