.blackhawks, .chi{
    background-image: url("../../../gui/img/blackhawks.png");
}
.bruins, .bos{
    background-image: url("../../../gui/img/bruins.png");
}
.flames, .cgy{
    background-image: url("../../../gui/img/flames.png");
}
.canadiens, .mtl{
    background-image: url("../../../gui/img/canadiens.png");
}
.capitals, .wsh{
    background-image: url("../../../gui/img/capitals.png");
}
.avalanche, .col{
    background-image: url("../../../gui/img/avalanche.png");
}
.columbus, .cbj{
    background-image: url("../../../gui/img/columbus.png");
}
.coyotes, .ari{
    background-image: url("../../../gui/img/coyotes.png");
}
.stars, .dal{
    background-image: url("../../../gui/img/stars.png");
}
.wings, .det{
    background-image: url("../../../gui/img/redwings.png");
}
.devils, .njd{
    background-image: url("../../../gui/img/devils.png");
}
.ducks, .ana{
    background-image: url("../../../gui/img/ducks.png");
}
.panthers, .fla{
    background-image: url("../../../gui/img/panthers.png");
}
.hurricanes, .car{
    background-image: url("../../../gui/img/hurricanes.png");
}
.islanders, .nyi{
    background-image: url("../../../gui/img/islanders.png");
}
.kings, .lak{
    background-image: url("../../../gui/img/kings.png");
}
.blues, .stl{
    background-image: url("../../../gui/img/blues.png");
}
.predators, .nsh{
    background-image: url("../../../gui/img/predators.png");
}
.oilers, .edm{
    background-image: url("../../../gui/img/oilers.png");
}
.senators, .ott{
    background-image: url("../../../gui/img/senators.png");
}
.penguins, .pit{
    background-image: url("../../../gui/img/penguins.png");
}
.flyers, .phi{
    background-image: url("../../../gui/img/flyers.png");
}
.rangers, .nyr{
    background-image: url("../../../gui/img/rangers.png");
}
.sabres, .buf{
    background-image: url("../../../gui/img/sabres.png");
}
.sharks, .sjs{
    background-image: url("../../../gui/img/sharks.png");
}
.lightning, .tbl{
    background-image: url("../../../gui/img/lightning.png");
}
.toronto, .tor{
    background-image: url("../../../gui/img/toronto.png");
}
.vancouver, .van{
    background-image: url("../../../gui/img/canucks.png");
}
.wild, .min{
    background-image: url("../../../gui/img/wilds.png");
}
.jets, .wpg{
    background-image: url("../../../gui/img/jets.png");
}