// $full-width: 100%;
// $main-padding: 2rem;
// $super-padding: $main-padding * 2;

// @import "mixins";
@import "teams";

body{
padding-top: 70px !important;
}

.home{
    background-image: url("../img/bhawks.png");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100px;
    width: 100px;
    display:inline-block;
}
.away{
    background-image: url("../img/dallas.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: inline-block;
 
}
.goalie{
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 10px;
}
.goalie-team{
    height: 70px;
    width: 70px;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
    float: right;
}
.goalie-team2{
    height: 70px;
    width: 70px;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
    float: left;
}
.random{
   margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
.date-container{
      border-bottom: 1px solid black;
      padding: 0 0 2em 0;
      margin: 0 0 4em 0;
}
.team-container{
    //fixa höjd
    border-bottom: 1px solid black;
      padding: 2em 0 2em 0;
      margin: 0 0 5em 0;
}
.not-played{
    opacity: 0.3;
}
.show-result{
    color:black;
    text-decoration: underline;
}
.show-result:hover{
    color: black;
    text-decoration: none;
}
.spoiler{
    display:none;
}
.pagination{
    margin: 0 auto;
}
.injuries-team{
    display:inline-block;
}
.injury{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: -12px;
}
.highlight{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display:inline-block;
}
.show-all{ 
    float: left;
}
.iframes{
    height: 500px;
    width: 870px;
}
.stats{
    display: inline-block;
}
.drop{
  float: right;
overflow: visible;
}
@media (max-width: 480px) {
    .iframes{
        height: auto;
        width: auto;
    }
    //gör den mitten på riktigt
    .goalie-team{
    height: 70px;
    width: 70px;
    margin: 0 2em 2em 0;
}
    //gör den mitten på riktigt
    .goalie-team2{
    height: 70px;
    width: 70px;
     margin: 0 0 2em 2em;

}
.center-button{
 text-align: center;
 margin: 0 auto;

}
.show-all{
  float: none;
}

}


.round {
  float: left;
  display: block;
}
.round.r-of-4 {
  display: block;
}
.round.r-of-2 {
  margin-top: 25px;
}
.bracket-game {
  max-width: 125px;
  margin: 10px 0;
}
.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
}
.player.top {
  border-radius: 3px 3px 0 0;
}
.player.bot {
  border-radius: 0 0 3px 3px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #B8F2B8;
}
.player.loss {
  background-color: #F2B8B8;
}
.connectors {
  float: left;
  min-width: 35px;
}
.connectors.r-of-2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}
.clear {
  clear: both;
}