@import "teams";

body{
padding-top: 70px !important;
}

.goalie{
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 10px;
}
.goalie-team{
    height: 70px;
    width: 70px;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
    float: right;
}
.goalie-team2{
    height: 70px;
    width: 70px;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0;
    float: left;
}
.random{
   margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
.date-container{
      border-top: 1px solid black;
      padding: 2em 0 0 0;
      margin: 2em 0 3em 0;
      height: 26;
}
.team-container{
    //fixa höjd
    border-top: 1px solid black;
      padding: 2em 0 0 0;
      margin: 2em 0 3em 0;
}
.not-played{
    opacity: 0.3;
}
.show-result{
    display: inline-block;
    color:black;
    text-decoration: underline;
}
.show-result:hover{
    color: black;
    text-decoration: none;
}
.spoiler{
    display:none;
}
.pagination{
    margin: 0 auto;
}
.injuries-team{
    display:inline-block;
}
.injury{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: -12px;
}
.small-logo{
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 100px;
}
.playoffs-logo{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 90px !important;
    height: 90px !important;
    margin: 0 0 10px 0 !important;
}
.playoffs-left{
  float: left !important;
}
.playoffs-right{
  float: right !important;
}
.highlight{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display:inline-block;
}
.show-all{ 
  margin: 18px 0 0 0;
  float: left;
}
.sort-by{
  margin: 0 0.5em 0 0;
}
.iframes{
    height: 500px;
    width: 870px;
}
.stats{
    display: inline-block;
}
.tooltip-inner {
    width: 550px;
   
}
.goalie{
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.goalie-team{
    height: 120px;
    margin: 5px;
    
}
.goalie-team{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    height: 135px;
    width: 200px;
    
}
.center-button{
  position: relative;
}
.alert-success{
    color: black !important;
    background-color: #3c763d !important;
}
.alert-danger{
    color: black !important;
    background-color: #a94442 !important;
}
.goalie-name{
    margin: 1em 0 1em 0;
}
.matchup{
    margin: 1em 0 1em 0;
}
/*???*/
.drop{
  float: right;
  overflow: visible;
}
@media (max-width: 480px) {
    .iframes{
      height: auto;
      width: auto;
    }
    .goalie-team{
      height: 70px;
      width: 70px;
      margin: 5px;
    }
  .center-button{
    display: relative;
    text-align: center;
    margin: 0 auto;
  }
  .show-all{
  float: none;
  }
}
