@import "teams-large";
@import "teams-small";
@import "teams-medium";

body{
padding-top: 70px !important;
}

.goalie{
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 10px;
}

.random{
   margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
}
.date-container{
      border-top: 1px solid black;
      padding: 2em 0 0 0;
      margin: 2em 0 3em 0;
      height: 26;
}
.team-container{
    //fixa höjd
    border-top: 1px solid black;
      padding: 2em 0 0 0;
      margin: 2em 0 3em 0;
}
.not-played{
    opacity: 0.3;
}
.show-result{
    display: inline-block;
    color:black;
    text-decoration: underline;
}
.show-result:hover{
    color: black;
    text-decoration: none;
}
.spoiler{
    display:none;
}
.pagination{
    margin: 0 auto;
}
.injuries-team{
    display:inline-block;
}
.injury{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: -12px;
}
.small-logo{
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px !important;
}
.mail-me{
  margin: 10px 0 0 0;
  position: absolute;
  right: 20%;
}
.navbar-brand{
  background-color: black;
}
.sorting-by{
  margin-top: 20px;
  float: right;
}
.likely{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.goalie-status {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}
.confirmed{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.unconfirmed{
    color: black !important;
    background-color: #a94442 !important;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>.th-placeholder {
  padding-left: 30px !important;
}
body .table>tbody>tr>td, .table>tbody>tr>th, body .table>tfoot>tr>td, body .table>tfoot>tr>th, body .table>thead>tr>td, body .table>thead>tr>th{
  padding: 8px 8px 8px 1px;
}
.table.wildcard-delimeter>tbody>tr:nth-child(2)>td{
  border-bottom: 3px solid black;
}
.playoffs-logo{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    margin: 0 0 10px 0 !important;
}
.playoffs-left{
  float: left !important;
}
.playoffs-right{
  float: right !important;
}
.highlight{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display:inline-block;
}
.show-all{ 
  margin: 18px 0 0 0;
  float: left;
}
.sort-by{
  margin: 0 0.5em 0 0;
}
.iframes{
    height: 500px;
    width: 870px;
}
.stats{
    display: inline-block;
}
.tooltip-inner {
    width: 550px;
   
}
.goalie{
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.goalie-team{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    padding: 0 10px 0 0;
    
}
.center-button{
  position: relative;
}
.alert-success{
    color: black !important;
    background-color: #3c763d !important;
}
.alert-danger{
    color: black !important;
    background-color: #a94442 !important;
}
.goalie-name{
    margin: 1em 0 1em 0;
}
.matchup{
    margin: 1em 0 1em 0;
}

.first-container{
      border: none;
      padding: 1em 0 0 0;
      margin: 0 0 3em 0;
}

.logo-padding{
  padding: 4px 0px 0px 0px !important;
}

@media (max-width: 480px) {
    .iframes{
      height: auto;
      width: auto;
    }
    .goalie-team{
      float: none;
      margin-bottom: 5px;
    }
    .goalie-name{
      font-size: 90%;
        margin: 1em 0 1em 0;
    }
  .center-button{
    display: relative;
    text-align: center;
    margin: 0 auto;
  }
  .show-all{
  float: none;
  }
  .mail-me{
  margin-left: 10px;
  position: relative;
  right: 0;
}
}
