.blackhawks, .chi {
  background-image: url("../img/blackhawks.png"); }

.bruins, .bos {
  background-image: url("../img/bruins.png"); }

.flames, .cgy {
  background-image: url("../img/flames.png"); }

.canadiens, .mtl {
  background-image: url("../img/canadiens.png"); }

.capitals, .wsh {
  background-image: url("../img/capitals.png"); }

.avalanche, .col {
  background-image: url("../img/avalanche.png"); }

.columbus, .cbj {
  background-image: url("../img/columbus.png"); }

.coyotes, .ari {
  background-image: url("../img/coyotes.png"); }

.stars, .dal {
  background-image: url("../img/stars.png"); }

.wings, .det {
  background-image: url("../img/redwings.png"); }

.devils, .njd {
  background-image: url("../img/devils.png"); }

.ducks, .ana {
  background-image: url("../img/ducks.png"); }

.panthers, .fla {
  background-image: url("../img/panthers.png"); }

.hurricanes, .car {
  background-image: url("../img/hurricanes.png"); }

.islanders, .nyi {
  background-image: url("../img/islanders.png"); }

.kings, .lak {
  background-image: url("../img/kings.png"); }

.blues, .stl {
  background-image: url("../img/blues.png"); }

.predators, .nsh {
  background-image: url("../img/predators.png"); }

.oilers, .edm {
  background-image: url("../img/oilers.png"); }

.senators, .ott {
  background-image: url("../img/senators.png"); }

.penguins, .pit {
  background-image: url("../img/penguins.png"); }

.flyers, .phi {
  background-image: url("../img/flyers.png"); }

.rangers, .nyr {
  background-image: url("../img/rangers.png"); }

.sabres, .buf {
  background-image: url("../img/sabres.png"); }

.sharks, .sjs {
  background-image: url("../img/sharks.png"); }

.lightning, .tbl {
  background-image: url("../img/lightning.png"); }

.toronto, .tor {
  background-image: url("../img/toronto.png"); }

.vancouver, .van {
  background-image: url("../img/canucks.png"); }

.wild, .min {
  background-image: url("../img/wilds.png"); }

.jets, .wpg {
  background-image: url("../img/jets.png"); }

body {
  padding-top: 70px !important; }

.home {
  background-image: url("../img/bhawks.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.away {
  background-image: url("../img/dallas.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.goalie {
  height: auto;
  width: auto;
  display: inline-block;
  border-radius: 10px; }

.goalie-team {
  height: 70px;
  width: 70px;
  padding: 0 10px 0 0;
  margin: 10px 0 0 0;
  float: right; }

.goalie-team2 {
  height: 70px;
  width: 70px;
  padding: 0 10px 0 0;
  margin: 10px 0 0 0;
  float: left; }

.random {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto !important; }

.date-container {
  border-bottom: 1px solid black;
  padding: 0 0 2em 0;
  margin: 0 0 4em 0;
  height: 26; }

.team-container {
  border-bottom: 1px solid black;
  padding: 2em 0 2em 0;
  margin: 0 0 5em 0; }

.not-played {
  opacity: 0.3; }

.show-result {
  display: inline-block;
  color: black;
  text-decoration: underline; }

.show-result:hover {
  color: black;
  text-decoration: none; }

.spoiler {
  display: none; }

.pagination {
  margin: 0 auto; }

.injuries-team {
  display: inline-block; }

.injury {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: -12px; }

.small-logo {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px; }

.highlight {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.show-all {
  display: inline-block;
  float: left; }

.sort-by {
  margin: 0 0.5em 0 0; }

.iframes {
  height: 500px;
  width: 870px; }

.stats {
  display: inline-block; }

.tooltip-inner {
  width: 550px; }

.goalie {
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle; }

.goalie-team {
  height: 120px;
  margin: 5px; }

.goalie-team {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  height: 135px;
  width: 200px; }

.alert-success {
  color: black !important;
  background-color: #3c763d !important; }

.alert-danger {
  color: black !important;
  background-color: #a94442 !important; }

.goalie-name {
  margin: 1em 0 1em 0; }

.matchup {
  margin: 1em 0 1em 0; }

.date {
  display: inline-block; }

/*???*/
.drop {
  float: right;
  overflow: visible; }

@media (max-width: 480px) {
  .iframes {
    height: auto;
    width: auto; }

  .goalie-team {
    height: 70px;
    width: 70px;
    margin: 5px; }

  .center-button {
    text-align: center;
    margin: 0 auto; }

  .show-all {
    float: none; } }
.round {
  float: left;
  display: block; }

.round.r-of-4 {
  display: block; }

.round.r-of-2 {
  margin-top: 25px; }

.bracket-game {
  max-width: 125px;
  margin: 10px 0; }

.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px; }

.player.top {
  border-radius: 3px 3px 0 0; }

.player.bot {
  border-radius: 0 0 3px 3px; }

.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE; }

.player.win {
  background-color: #B8F2B8; }

.player.loss {
  background-color: #F2B8B8; }

.connectors {
  float: left;
  min-width: 35px; }

.connectors.r-of-2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA; }

.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA; }

.connectors.r-of-2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 55px;
  border-right: 2px solid #AAA; }

.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA; }

.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
