.blackhawks {
  background-image: url("../img/bhawks.png"); }

.bruins {
  background-image: url("../img/bruins.png"); }

.flames {
  background-image: url("../img/flames.png"); }

.canadiens {
  background-image: url("../img/canadiens.png"); }

.capitals {
  background-image: url("../img/capitals.png"); }

.avalanche {
  background-image: url("../img/avalanche.png"); }

.columbus {
  background-image: url("../img/columbus.png"); }

.coyotes {
  background-image: url("../img/coyotes.png"); }

.stars {
  background-image: url("../img/stars.png"); }

.detroit {
  background-image: url("../img/detroit.png"); }

.devils {
  background-image: url("../img/devils.png"); }

.ducks {
  background-image: url("../img/ducks.gif"); }

.panthers {
  background-image: url("../img/panthers.png"); }

.hurricanes {
  background-image: url("../img/hurricanes.png"); }

.islanders {
  background-image: url("../img/islanders.png"); }

.kings {
  background-image: url("../img/kings.png"); }

.blues {
  background-image: url("../img/blues.png"); }

.predators {
  background-image: url("../img/predators.png"); }

.oilers {
  background-image: url("../img/oilers.png"); }

.senators {
  background-image: url("../img/senators.png"); }

.penguins {
  background-image: url("../img/penguins.png"); }

.flyers {
  background-image: url("../img/flyers.png"); }

.rangers {
  background-image: url("../img/rangers.png"); }

.sabres {
  background-image: url("../img/sabres.png"); }

.sharks {
  background-image: url("../img/sharks.png"); }

.tampa {
  background-image: url("../img/tampa.png"); }

.toronto {
  background-image: url("../img/toronto.png"); }

.vancouver {
  background-image: url("../img/vancouver.png"); }

.wild {
  background-image: url("../img/wilds.png"); }

.jets {
  background-image: url("../img/jets.png"); }

body {
  padding-top: 70px !important; }

.home {
  background-image: url("../img/bhawks.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.away {
  background-image: url("../img/dallas.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.goalie {
  height: auto;
  width: auto;
  display: inline-block;
  border-radius: 10px; }

.goalie-team {
  height: 70px;
  width: 70px;
  padding: 0 10px 0 0;
  display: inline-block; }

.random {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto !important; }

.date-container {
  border-bottom: 1px solid black;
  padding: 0 0 2em 0;
  margin: 0 0 4em 0; }

.not-played {
  opacity: 0.3; }

.show-result {
  color: black;
  text-decoration: underline; }

.show-result:hover {
  color: black;
  text-decoration: none; }

.spoiler {
  display: none; }

.pagination {
  margin: 0 auto; }

.injuries-team {
  display: inline-block; }

.injury {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: -12px; }

.highlight {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  display: inline-block; }

.iframes {
  height: 500px;
  width: 870px; }

@media (max-width: 480px) {
  .iframes {
    height: auto;
    width: auto; } }
/*
playoffs
*/
main {
  display: flex;
  flex-direction: row; }

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0; }

.round .spacer {
  flex-grow: 1; }

.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: .5; }

.round .game-spacer {
  flex-grow: 1; }

.show-all {
  float:right; }

/*
 * playoffs General Styles
*/
body {
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em; }

li.game {
  padding-left: 20px; }

li.game.winner {
  font-weight: bold; }

li.game span {
  float: right;
  margin-right: 5px; }

li.game-top {
  border-bottom: 1px solid #aaa; }

li.game-spacer {
  border-right: 1px solid #aaa;
  min-height: 40px; }

li.game-bottom {
  border-top: 1px solid #aaa; }

/*# sourceMappingURL=style.css.map */
