{{#each .}}
    <table class="table table-striped {{#ifCond division "Wild Card"}}wildcard-delimeter{{/ifCond}}">
    {{> thead division}}
    </thead>
    <tbody>
     {{> tr teams}}
    </tbody>
  </table>
{{/each}}