<div class="table-responsive">
        <h2 class="text-center">Standings</h2>
        {{> select}}
    <table class="table table-striped">
    {{> thead "Team"}}
    <tbody>
     {{> tr this}}
    </tbody>
  </table>