<div class="container text-center date-container">
    <div class="row">
    	<div class="col-md-4">
   			<button type="button" class="btn btn-default show-all pull-left">Show all results</button>
   		</div> 
        <div class="col-md-4 center-button text-center">
       		<h3 class="date">{{date}}</h3>
        </div>
    </div>
</div>
