<div class="container text-center date-container">
    <div class="row">
        <div>
            <h3 class="date">{{date}}</h3>
            <button type="button" class="btn btn-default show-all">Show all results</button>
        </div>
    </div>
</div>