
<div class="container text-center date-container {{#ifCond @index 0}}first-container{{/ifCond}}">
    <div class="row">
    	<div class="col-md-4 col-xs-12 col-centered">
   			<button type="button" class="btn btn-default show-all">Show results</button>
   		</div> 
        <div class="col-md-4 col-xs-12 center-button text-center">
       		<h3 class="date">{{date}}</h3>
        </div>
    </div>
</div>
