  {{#each .}}
  <div class="container text-center team-container {{#ifCond @index 0}}first-container{{/ifCond}}">
      <div class="row">
          <h3 class="matchup">{{away.team}} at {{home.team}}</h3>
      </div>
  </div>

<div class="container bg-grey">
  <div class="row slideanim">
  {{> goalie away}}
  {{> goalie home}}
  </div>   
</div>
{{else}}
Can't find any matchups, is it off- or pre-season?
{{/each}}