.blackhawks.logo-large, .chi.logo-large{
    background-image: url("../../img/blackhawks.png");
}
.bruins.logo-large, .bos.logo-large{
    background-image: url("../../img/bruins.png");
}
.flames.logo-large, .cgy.logo-large{
    background-image: url("../../img/flames.png");
}
.canadiens.logo-large, .mtl.logo-large{
    background-image: url("../../img/canadiens.png");
}
.capitals.logo-large, .wsh.logo-large{
    background-image: url("../../img/capitals.png");
}
.avalanche.logo-large, .col.logo-large{
    background-image: url("../../img/avalanche.png");
}
.columbus.logo-large, .cbj.logo-large{
    background-image: url("../../img/columbus.png");
}
.coyotes.logo-large, .ari.logo-large{
    background-image: url("../../img/coyotes.png");
}
.stars.logo-large, .dal.logo-large{
    background-image: url("../../img/stars.png");
}
.wings.logo-large, .det.logo-large{
    background-image: url("../../img/redwings.png");
}
.devils.logo-large, .njd.logo-large{
    background-image: url("../../img/devils.png");
}
.ducks.logo-large, .ana.logo-large{
    background-image: url("../../img/ducks.png");
}
.panthers.logo-large, .fla.logo-large{
    background-image: url("../../img/panthers.png");
}
.hurricanes.logo-large, .car.logo-large{
    background-image: url("../../img/hurricanes.png");
}
.islanders.logo-large, .nyi.logo-large{
    background-image: url("../../img/islanders.png");
}
.kings.logo-large, .lak.logo-large{
    background-image: url("../../img/kings.png");
}
.blues.logo-large, .stl.logo-large{
    background-image: url("../../img/blues.png");
}
.predators.logo-large, .nsh.logo-large{
    background-image: url("../../img/predators.png");
}
.oilers.logo-large, .edm.logo-large{
    background-image: url("../../img/oilers.png");
}
.senators.logo-large, .ott.logo-large{
    background-image: url("../../img/senators.png");
}
.penguins.logo-large, .pit.logo-large{
    background-image: url("../../img/penguins.png");
}
.flyers.logo-large, .phi.logo-large{
    background-image: url("../../img/flyers.png");
}
.rangers.logo-large, .nyr.logo-large{
    background-image: url("../../img/rangers.png");
}
.sabres.logo-large, .buf.logo-large{
    background-image: url("../../img/sabres.png");
}
.sharks.logo-large, .sjs.logo-large{
    background-image: url("../../img/sharks.png");
}
.lightning.logo-large, .tbl.logo-large{
    background-image: url("../../img/lightning.png");
}
.toronto.logo-large, .tor.logo-large{
    background-image: url("../../img/toronto.png");
}
.vancouver.logo-large, .van.logo-large{
    background-image: url("../../img/canucks.png");
}
.wild.logo-large, .min.logo-large{
    background-image: url("../../img/wilds.png");
}
.jets.logo-large, .wpg.logo-large{
    background-image: url("../../img/jets.png");
}