.blackhawks.logo-small, .chi.logo-small{
    background-image: url("../../img/blackhawks30x30.png");
}
.bruins.logo-small, .bos.logo-small{
    background-image: url("../../img/bruins30x30.png");
}
.flames.logo-small, .cgy.logo-small{
    background-image: url("../../img/flames30x30.png");
}
.canadiens.logo-small, .mtl.logo-small{
    background-image: url("../../img/canadiens30x30.png");
}
.capitals.logo-small, .wsh.logo-small{
    background-image: url("../../img/capitals30x30.png");
}
.avalanche.logo-small, .col.logo-small{
    background-image: url("../../img/avalanche30x30.png");
}
.columbus.logo-small, .cbj.logo-small{
    background-image: url("../../img/columbus30x30.png");
}
.coyotes.logo-small, .ari.logo-small{
    background-image: url("../../img/coyotes30x30.png");
}
.stars.logo-small, .dal.logo-small{
    background-image: url("../../img/stars30x30.png");
}
.wings.logo-small, .det.logo-small{
    background-image: url("../../img/redwings30x30.png");
}
.devils.logo-small, .njd.logo-small{
    background-image: url("../../img/devils30x30.png");
}
.ducks.logo-small, .ana.logo-small{
    background-image: url("../../img/ducks30x30.png");
}
.panthers.logo-small, .fla.logo-small{
    background-image: url("../../img/panthers30x30.png");
}
.hurricanes.logo-small, .car.logo-small{
    background-image: url("../../img/hurricanes30x30.png");
}
.islanders.logo-small, .nyi.logo-small{
    background-image: url("../../img/islanders30x30.png");
}
.kings.logo-small, .lak.logo-small{
    background-image: url("../../img/kings30x30.png");
}
.blues.logo-small, .stl.logo-small{
    background-image: url("../../img/blues30x30.png");
}
.predators.logo-small, .nsh.logo-small{
    background-image: url("../../img/predators30x30.png");
}
.oilers.logo-small, .edm.logo-small{
    background-image: url("../../img/oilers30x30.png");
}
.senators.logo-small, .ott.logo-small{
    background-image: url("../../img/senators30x30.png");
}
.penguins.logo-small, .pit.logo-small{
    background-image: url("../../img/penguins30x30.png");
}
.flyers.logo-small, .phi.logo-small{
    background-image: url("../../img/flyers30x30.png");
}
.rangers.logo-small, .nyr.logo-small{
    background-image: url("../../img/rangers30x30.png");
}
.sabres.logo-small, .buf.logo-small{
    background-image: url("../../img/sabres30x30.png");
}
.sharks.logo-small, .sjs.logo-small{
    background-image: url("../../img/sharks30x30.png");
}
.lightning.logo-small, .tbl.logo-small{
    background-image: url("../../img/lightning30x30.png");
}
.toronto.logo-small, .tor.logo-small{
    background-image: url("../../img/toronto30x30.png");
}
.vancouver.logo-small, .van.logo-small{
    background-image: url("../../img/canucks30x30.png");
}
.wild.logo-small, .min.logo-small{
    background-image: url("../../img/wilds30x30.png");
}

.vegas.logo-small, .veg.min.logo-small{
    background-image: url("../../img/vegas30x30.png");
}

.jets.logo-small, .wpg.logo-small{
    background-image: url("../../img/jets30x30.png");
}